/* Cambia la fuente para el cuerpo del documento */
body {
    font-family: 'Dancing Script', sans-serif;
}

.cuenta-regresiva {
    display: flex;
    align-items: center;
  }
  
  .circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b6a19f; /* Color de fondo del círculo */
    color: white; /* Color del texto */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px; /* Espacio entre los círculos */
  }

  .etiquetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Ajusta el espaciado según tus preferencias */
  }
  
  .etiqueta {
    text-align: center;
    font-size: 16px; /* Tamaño de fuente para las etiquetas */
    color: #333; /* Color del texto de las etiquetas */
  }
  